html, body {
    background: #eff2f1 !important;
    /*color:#89c6ff !important;*/
    font-family: "Comfoorta-regular" !important;

}

.ui.table thead tr:first-child > th {
    position: sticky !important;
    top: 0;
    z-index: 2;
}